<div class="social">
  <span class="contacticon center">
    {% if site.email %}<a href="mailto:{{ site.email | encode_email }}"><i class="fas fa-envelope"></i></a>{% endif %}
    {% if site.github_username %}<a href="https://github.com/{{ site.github_username }}" target="_blank" title="GitHub"><i class="fab fa-github"></i></a>{% endif %}
    {% if site.phone %}<a href="tel:+15152292192" target="+1-515-229-2192" title="Phone"><i class="fas fa-phone"></i></a>{% endif %}

  </span>

  <div class="col three caption">
    {{ site.contact_note }}
  </div>
</div>
